.card {
  max-width: 413px;
  margin: 0 0 20px;
}
.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 250px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/State=Hover.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_liked {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 100%;
}
.card__like-btn_liked:hover {
  background-image: url(../images/Union-Hover.svg);
}

.card__delete-btn {
  background-image: url(../images/Delete\ Icon.svg);
  border: none;
  background-color: transparent;
  height: 32px;
  width: 32px;
  position: absolute;
  margin: 0 0 820px 365px;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete\ Icon\ -\ Red.svg);
  cursor: pointer;
}

.card__like-count {
  display: none;
}

@media screen and (max-width: 745px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card__delete-btn {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 570px 245px;
  }
}
